/** CSS styles for mod_multipage */
.mod_multipage_page_edit {
    padding-top: 20px;
}
.mod_multipage_page_links ul {
    padding-right: 10px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.mod_multipage_page_links li {
    display: inline;
    padding:20px;
}
.mod_multipage_edit_links {
    margin: 20px 0 20px 0 ;
}
.mod_multipage_edit_links ul {
    padding-right: 20px;
    list-style: none;
}
.mod_multipage_page_index ul {
    list-style-type: none;
    padding-right: 10px;
}
.mod_multipage_page_index {
    background-color: #f5f5f5;
    border: 1px dotted #999;
    padding:5px;
}
.mod_multipage_page_index_container {
  float:right;
  padding: 10px;
}
.mod_multipage_button_div {
  padding: 10px;
}
.mod_multipage_panel_div {
  display: none;
  padding: 10px;
  margin: 5px;
  background-color: #f5f5f5;
}